<!-- Service Blocks -->
				<div class="row margin-bottom-30">
					<div class="col-md-4 service-alternative">
						<div class="service">
							<i class="fa fa-compress service-icon"></i>
							<div class="desc">
								<h4>Fully Responsive</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 service-alternative">
						<div class="service">
							<i class="fa fa-cogs service-icon"></i>
							<div class="desc">
								<h4>HTML5 + CSS3</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 service-alternative">
						<div class="service">
							<i class="fa fa-rocket service-icon"></i>
							<div class="desc">
								<h4>Launch Ready</h4>
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End Service Blokcs -->