.container {
  padding: 24px 0;
}

.banner {
  min-height: 400px;
}

.product {
  margin-top: 24px;
}

.productItem {
  background-color: #fafafa;
  margin-bottom: 24px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #eee;
  padding: 12px;
  &:hover {
    border: 1px solid #1677ff;
    // box-shadow: 0 0 10px 1px #1677ff;
  }
}
